:root{
    --bill-height: 342px;
    --bill-width: 947px;
    --bill-left-width: 205.5px;
    --primary-color: #002064;
    --text-color:#222222;
    --border-color: #5B93EA;
    --background-color: #F8F8FF;
    --border-radius: 8px;
}

html {
    font-size: 62.25%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
 }
h1{
    color: green
 }
.container{
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
} 
.bill{
    height: var(--bill-height);
    width: var(--bill-width);
    
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    border-radius: var(--border-radius);

    position: relative;
    overflow: hidden;
}


.bill__left{
    width: var(--bill-left-width);
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--border-color);
    border-right: 1px dashed var(--border-color);
    border-radius: var(--border-radius);
}
.bill__left::before{
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;

    top: -16px;
    right: -16px;
    border-radius: 50%;
    background-color: #fff;
    
    border: 1px solid var(--border-color)
}
.bill__left::after{
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;

    bottom: -16px;
    right: -16px;
    border-radius: 50%;
    background-color: #fff;
    
    border: 1px solid var(--border-color)
}
.bill__left__title{
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-bottom: 8.12px;
}

.bill__right{
    flex-grow: 1;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    border-left: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    --table-width: 677px;

    border-collapse: collapse;
    width: var(--table-width);
    height: 100%;
  }
tr{
    border-bottom: 1px solid #C2D9FF;
}
tr:last-child{
    border-bottom: transparent;
}

td {
    text-align: left;
    font-size: 1.3rem;
}
td:first-child{
    font-weight: 700;
    width: calc(179px + 24px);
}
